SECRET_KEY="REPLACE_WITH_RANDOM_SECRET"
DEBUG="True"

OPENHUMANS_APP_BASE_URL="http://127.0.0.1:5000/"
OPENHUMANS_CLIENT_ID="REPLACE_WITH_CLIENT_ID"
OPENHUMANS_CLIENT_SECRET="REPLACE_WITH_CLIENT_SECRET"

ON_HEROKU='True'

FITBIT_CLIENT_ID=
FITBIT_CLIENT_SECRET=

OURA_CLIENT_ID=
OURA_CLIENT_SECRET=

GOOGLEFIT_CLIENT_ID=
GOOGLEFIT_CLIENT_SECRET=
GOOGLEFIT_PROJECT_ID=

OAUTHLIB_INSECURE_TRANSPORT='1'