[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"

[packages]
celery = "*"
django = "~=2.2"
django-heroku = "*"
gunicorn = "*"
django-open-humans = "*"
redis = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
