[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
black = "*"
pre-commit = "*"
ipython = "*"

[packages]
celery = "*"
django = "~=2.2"
django-heroku = "*"
gunicorn = "*"
django-open-humans = "*"
redis = "*"
pandas = "*"
arrow = "*"
django-timezone-field = "*"
sentry-sdk = "*"
open-humans-api = ">=0.2.6"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
