#circle-information,
#circle-information-text {
  position: fixed;
}
.svg-tooltip-heatmap, .svg-tooltip  {
    font-family: "system-ui", "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif, "Apple   Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgba(69, 77, 93, .9);
    border-radius: .5rem;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 300;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre-line;
    display: inline;
    justify-content: flex-start;
    z-index: 300;
    max-width: 50%;
    visibility: hidden;
  }
  .svg-tooltip-information {
    font-family: "system-ui", "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif, "Apple   Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-radius: .5rem;
    font-size: .5em;
    background: #fff;
    color: black;
    display: block;
    font-size: 12;
    font-weight: 100;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre-line;
    display: inline;
    justify-content: flex-start;
    z-index: 300;
    max-width: 35%;
    border: .01rem solid;
    visibility: hidden;
  }
  .legend-graph-text {
    display: block;
    position: absolute;
    padding: .2rem .4rem;
    text-overflow: ellipsis;
    display: inline;
    justify-content: flex-start;
  }

  .select-symptom {
    border-radius: 3.5rem;
  }

  @media screen and (min-width: 200px) and (max-width: 799px) {
    #legend,
    #wearable-choice,
    #temperature-choice {
      width: 0%;
      height: 0%;
      visibility: hidden;
    }

    #legend-phone,
    #wearable-legend-phone {
      width: 100%;
      height: auto;
      visibility: visible;
    }

    #symptom,
    #apple-legend,
    #oura_sleep_summary-legend,
    #fitbit-legend,
    #wearable-legend,
    #temperature-legend {
      width: 25%;
    }

    #heatmap,
    #wearable-graph,
    #temperature-graph {
      width: 71.1%;
    }

    #progress-container {
      width: 71.1%;
      height: .125rem;
      margin-left: 25%;
    }

    #myBar {
      width: 0%;
      height: .125rem;
      margin-left: 25%;
      background-color: pink;
      border-radius: .5rem;
    }

  }

  @media screen and (min-width: 800px) {

    #legend {
      width: 18.9%;
      height: auto;
      float: left;
      visibility: visible;
    }

    #wearable-choice,
    #temperature-choice {
      width: 18.9%;
      height: auto;
      float: left;
      visibility: visible;
    }

    #heatmap,
    #wearable-graph {
      width: 71.1%;
    }

    #legend-phone,
    #wearable-legend-phone {
      width: 0;
      height: 0;
      visibility: hidden;
    }

    #symptom,
    #apple-legend,
    #oura_sleep_summary-legend,
    #fitbit-legend,
    #wearable-legend,
    #temperature-legend {
      width: 10%;
    }

    #progress-container {
      width: 71.1%;
      height: .125rem;
      margin-left: 10%;
    }

    #myBar {
      width: 0%;
      height: .125rem;
      margin-left: 10%;
      background-color: pink;
      border-radius: .5rem;
    }
  }