{% extends 'base.html' %}

{% block main %}

<h1>About</h1>

<h2>Who's behind this?</h2>
<p>
  This current test setup is so far being run and developed by
  <a href="https://github.com/madprime/">Mad Price Ball</a> & <a href="https://github.com/gedankenstuecke/">Bastian Greshake Tzovaras</a>.
</p>
<p>
  The idea for this project came out of <a href='https://forum.quantifiedself.com/t/using-resting-heart-rate-for-early-warning-of-coronavirus-infection/7864'>some posts on the <i>Quantified Self</i> forum<a>,
    as well as <a href='https://blog.openhumans.org/2020/02/28/self-research-panel-video-join-next-on-mar-10/'>out of the discussions of the Open Humans community calls</a>.

    Based on these <a href='https://exploratory.openhumans.org/notebook/83/'>Bastian created some preliminary data visualizations of his own data</a>, which formed the basis for this web application that Mad & Bastian developed to scale things up.
</p>

<h2>What's the goal?</h2>
<p>
  Currently the goal is to just allow you to self-visualize your own physiological signals, but once we've decided on a framework we can actually use the aggregate data to see if there's some clearer signal of the physiological signals that can be used regardless.
</p>

<h2>How can I contribute?</h2>
There's multiple ways to help out and we're looking for people in all areas. Some easy ways to get involved are:

<p>
  <ul>
    <li>Do you have retrospective data and know when you've been sick? <b>Adding your own events is the easist way to help</b></li>
    <li><b>Spread the word!</b> Let others know that this exists!</li>
    <li><b><a href='https://slackin.openhumans.org'>Join our Slack</a>!</b> Chat with others interested in the <i>Quantified Flu</i></li>
    <li><b>Improve this website!</b> There are open issues like improving the data visualizations, support for more wearables etc. <a href='https://github.com/madprime/quantified-flu/issues'>Look at our issues on GitHub</a></li>
    <li><b>Analyze data!</b> Once we start aggregating data we'll need data scientists willing to help us go through the data!</li>
  </ul>
</p>

{% endblock main %}
