{% extends 'base.html' %}

{% block main %}

<h1> Check out your sick events</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {%for event in events%}
    <tr>
      <th scope="row">{{event.date}}</th>
      <td>
      {%for analysis in event.retrospectiveeventanalysis_set.all%}
        <a class="btn btn-primary" href='{% url 'retrospective:view_graph' analysis.id%}'>view <i>{{analysis.graph_type}}</i> graph</a>
      {%endfor%}
      </td>
      <td>
        <form action="{% url 'retrospective:delete_event' event.id %}" method="post">
          {% csrf_token %}
          <button type="submit" value="delete event" class="btn btn-danger ">delete event</button>
        </form>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

  <p>


  </p>



{% endblock main %}
