{% extends 'base.html' %}

{% load qf_extras %}

{% block main %}

<h2>Sickness event: {{ object.date }}</h2>

{% if is_owner %}
  {# offer publish if unpublished and analyses exist #}
  {% if not object.published and object.retrospectiveeventanalysis_set.all %}
    <div class="alert alert-primary">
      <p>
        <b>Publish event analyses?</b> Unpublished events may be removed after 48 hours.
        Published events will be publicly visible, linked to your random member ID – and
        you'll have a link you can share with others!
      </p>
      <p>
        Data used to generate these graphs is also made publicly available (up to six
        weeks before &amp; after the event). This enables others to develop and contribute
        improved analyses and visualizations. ✨
      </p>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Publish event" class="btn btn-primary">
      </form>
    </div>
  {% elif object.published %}
  <div class="alert alert-success">
    <p>
      <b>Published event.</b> You can still
      <a href="{% url 'retrospective:edit_event' object.id %}">edit notes or delete this event</a>. Thank you for sharing! 💖
    </p>
    <p>
      Use this URL to share with others:
      <a href="{% url 'retrospective:view_event' object.id %}">https://quantifiedflu.org{% url 'retrospective:view_event' object.id %}</a>
    </p>
  </div>
  {% endif %}
{% endif %}

<p>
  <b>Certainty:</b> {{ object.get_certainty_display }} ({{ object.certainty }}/5)
</p>

<p>
<b>Notes:</b> {{ object.notes }}
</p>

{% if is_owner %}

  {% if not object.published %}
  <p>
  <a href="{% url 'retrospective:edit_event' object.id %}" class="btn btn-sm btn-info">Edit event</a>
  </p>
  {% endif %}

  {# Explanations if analyses aren't available. #}
  {% if not object.retrospectiveeventanalysis_set.all %}
    {% if request.user.openhumansmember|missing_sources|length == 4 %}
    <div class="alert alert-danger" role="alert">
      <p>
        <b>No connected data?</b> This event appears to have no associated analyses.
        Have you connected a data source?<br>
        (Return to the <a href="{% url 'home' %}">home page</a> to do this.)
      </p>
      <p>
        If you're having trouble connecting a data source, please let us know at
        <a href="mailto:support@openhumans.org">support@openhumans.org</a>!
      </p>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
      <b>Analyses not yet available.</b> If you just added a data source, it may take a minute
      for analyses to be complete. Try reloading.
    </div>
    {% endif %}
  {% endif %}

{% endif %}

<hr>

<script>
  /* QF data is a JSON in the following format:

  {
    'type_key':
    {
      'timestamp': string (ISO 8601 format),
      'data': {
        'value_key1': value1,
        'value_key2': value2,
        ...
      }
    }
  }

  Taking a type_key (e.g. 'oura_sleep_summary'), this is mapped to the following
  for plots using MetricsGraphics.js:

  {
    'timestamp': JavaScript Date object,
    'value_key1': value1,
    'value_key2': value2,
    ...
  }
  */
  function mapQFDataForMG(data_in, graph_type) {
    data_in = data_in[graph_type];
    var new_data = [];
    for (index = 0; index < data_in.length; index++) {
      var entry = {}
      entry.timestamp = new Date (data_in[index].timestamp);
      for (const [key, value] of Object.entries(data_in[index].data)) {
        entry[key] = parseFloat(value);
      }
      new_data.push(entry);
    }
    return new_data;
  }
</script>

{% for analysis in object.retrospectiveeventanalysis_set.all %}

<h3>
{% if analysis.graph_type == 'oura_sleep_5min' %}Oura Heart Rate
{% elif analysis.graph_type == 'oura_sleep_summary' %}Oura Temperature
{% elif analysis.graph_type == 'fitbit_summary' %}Fitbit
{% elif analysis.graph_type == 'fitbit_intraday' %}Fitbit Intraday
{% elif analysis.graph_type == 'googlefit_heartrate' %}GoogleFit Heart Rate
{% elif analysis.graph_type == 'apple_health_summary' %}Apple Health Resting Heartrate
  {% elif analysis.graph_type == 'garmin_heartrate' %}Garmin Heartrate
{% endif %}</h3>

<div class="retrospective_graph_{{ analysis.id }}"></div>

{% endfor %}

<script>
  $.getJSON('{% url 'retrospective:view_event_json' object.id %}', function(event_data) {

    {% for analysis in object.retrospectiveeventanalysis_set.all %}
    var data = mapQFDataForMG(event_data, '{{ analysis.graph_type }}');

    var marker_date = Date.parse('{{ analysis.event.date|date:"c" }}')
    var markers = [{
        'timestamp': marker_date,
        'label': 'Reported sick incident'
    }];

    {% if analysis.graph_type == 'oura_sleep_summary' %}
    MG.data_graphic({
      title: "Temperature evolution",
      description: "The body temperature difference as measured by Oura",
      data: data,
      chart_type: 'point',
      width: 600,
      height: 450,
      top: 50,
      left: 50,
      right: 60,
      full_width: true,
      target: ".retrospective_graph_{{ analysis.id }}",
      x_accessor: "timestamp",
      y_accessor: "temperature_delta",
      aggregate_rollover: true,
      x_label : 'date',
      y_label : 'body temperature',
      markers: markers,
      });
    {% else %}
    MG.data_graphic({
      title: "Heart rate evolution",
      {% if analysis.graph_type == 'apple_health_summary' %}
      description: "Resting heart rate evolution over time",
      {% else %}
      description: "Nightly heart rate evolution over time",
      {% endif %}
      data: data,
      chart_type: 'point',
      width: 600,
      height: 450,
      top: 50,
      right: 60,
      full_width: true,
      target: ".retrospective_graph_{{ analysis.id }}",
      x_accessor: "timestamp",
      y_accessor: "heart_rate",
      aggregate_rollover: true,
      x_label : 'date',
      y_label : 'heart rate',
      markers: markers,
      });
    {% endif %}

    {% endfor %}

  })
  </script>

{% endblock main %}
