<style>
  @media screen and (min-width: 800px) {
    .textbutton,
    .textbuttonprincipal {
      transform: translate(2%);
    }
    .textbutton,.legendnameAxisY {
      font-size: 1em;
    }
    .textbuttonprincipal {
      font-size: 1.25em;
    }
    .text-legend {
    font-size: 1em;
  }
  }

  @media screen and (min-width: 200px) and (max-width: 399px) {
    .textbutton {
      font-size: .4em;
      transform: translate(4.5%);
    }
    .legendnameAxisY {
      font-size: .6em;
    }
    .text-legend {
    font-size: .7em;
  }
    .textbuttonprincipal {
      font-size: .55em;
      transform: translate(6%);
      position: absolute;
      text-overflow: ellipsis;
      white-space: pre-line;
      display: inline;
      justify-content: flex-start;
      display: block;
    }
    .titlenameAxisY {
    visibility: hidden;
  }
  }
  
  @media screen and (min-width: 400px) and (max-width: 799px) {
    .titlenameAxisY {
    visibility: hidden;
  }
  .text-legend {
    font-size: .8em;
  }
    .textbutton {
      font-size: .5em;
      transform: translate(4.5%);
    }
    .legendnameAxisY {
      font-size: .6em;
    }
    .textbuttonprincipal {
      font-size: .7em;
      transform: translate(6%);
      position: absolute;
      text-overflow: ellipsis;
      white-space: pre-line;
      display: inline;
      justify-content: flex-start;
      display: block;
    }
  }
</style>
{% extends 'base.html' %}

{% load qf_extras %}

{% block main %}

<h2>Sickness event: {{ object.date }}</h2>

{% if is_owner %}
{# offer publish if unpublished and analyses exist #}
{% if not object.published and object.retrospectiveeventanalysis_set.all %}
<div class="alert alert-primary">
  <p>
    <b>Publish event analyses?</b> Unpublished events may be removed after 48 hours.
    Published events will be publicly visible, linked to your random member ID – and
    you'll have a link you can share with others!
  </p>
  <p>
    Data used to generate these graphs is also made publicly available (up to six
    weeks before &amp; after the event). This enables others to develop and contribute
    improved analyses and visualizations. ✨
  </p>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Publish event" class="btn btn-primary">
  </form>
</div>
{% elif object.published %}
<div class="alert alert-success">
  <p>
    <b>Published event.</b> You can still
    <a href="{% url 'retrospective:edit_event' object.id %}">edit notes or delete this event</a>. Thank you for sharing!
    💖
  </p>
  <p>
    Use this URL to share with others:
    <a
      href="{% url 'retrospective:view_event' object.id %}">https://quantifiedflu.org{% url 'retrospective:view_event' object.id %}</a>
  </p>
</div>
{% endif %}
{% endif %}

<p>
  <b>Certainty:</b> {{ object.get_certainty_display }} ({{ object.certainty }}/5)
</p>

<p>
  <b>Notes:</b> {{ object.notes }}
</p>

{% if is_owner %}

{% if not object.published %}
<p>
  <a href="{% url 'retrospective:edit_event' object.id %}" class="btn btn-sm btn-info">Edit event</a>
</p>
{% endif %}

{# Explanations if analyses aren't available. #}
{% if not object.retrospectiveeventanalysis_set.all %}
{% if request.user.openhumansmember|missing_sources|length == 5 %}
<div class="alert alert-danger" role="alert">
  <p>
    <b>No connected data?</b> This event appears to have no associated analyses.
    Have you connected a data source?<br>
    (Return to the <a href="{% url 'home' %}">home page</a> to do this.)
  </p>
  <p>
    If you're having trouble connecting a data source, please let us know at
    <a href="mailto:support@openhumans.org">support@openhumans.org</a>!
  </p>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
  <b>Analyses not yet available.</b> If you just added a data source, it may take a minute
  for analyses to be complete. Try reloading.
</div>
{% endif %}
{% endif %}

{% endif %}
<hr>

<script>
  /* QF data is a JSON in the following format:

  {
    'type_key':
    {
      'timestamp': string (ISO 8601 format),
      'data': {
        'value_key1': value1,
        'value_key2': value2,
        ...
      }
    }
  }

  Taking a type_key (e.g. 'oura_sleep_summary'), this is mapped to the following
  for plots using MetricsGraphics.js:

  {
    'timestamp': JavaScript Date object,
    'value_key1': value1,
    'value_key2': value2,
    ...
  }
  
  function mapQFDataForMG(data_in, graph_type) {
    data_in = data_in[graph_type];
    var new_data = [];
    for (index = 0; index < data_in.length; index++) {
      var entry = {}
      entry.timestamp = new Date(data_in[index].timestamp);
      for (const [key, value] of Object.entries(data_in[index].data)) {
        entry[key] = parseFloat(value);
      }
      new_data.push(entry);
    }
    return new_data;
  }*/
</script>
<!--
{% for analysis in object.retrospectiveeventanalysis_set.all %}
<h3>
  {% if analysis.graph_type == 'oura_sleep_5min' %}Oura Heart Rate
  {% elif analysis.graph_type == 'oura_sleep_summary' %}Oura Temperature
  {% elif analysis.graph_type == 'fitbit_summary' %}Fitbit
  {% elif analysis.graph_type == 'fitbit_intraday' %}Fitbit Intraday
  {% elif analysis.graph_type == 'googlefit_heartrate' %}GoogleFit Heart Rate
  {% elif analysis.graph_type == 'apple_health_summary' %}Apple Health Resting Heartrate
  {% elif analysis.graph_type == 'garmin_heartrate' %}Garmin Heartrate
  {% endif %}</h3>
<div class="retrospective_graph_{{ analysis.id }}"></div>

{%if analysis.graph_type == 'oura_sleep_summary' %}
<h3>Oura Respiratory Rate 44</h3>
<div class="retrospective_graph_{{ analysis.id }}_rr"></div>
{%endif%}
{% endfor %}-->
<div id="wearable-container" style=" width: 100%; height: auto; display: inline-block;">
  <div id="wearable-title" style="width: 100%; height: auto;"></div>
  <div id="wearable-legend-circle" style="width: 100%; height: auto; "></div>
  <div id="wearable-legend" style="width: 5%; height:auto; float:left;"></div>
  <div id="wearable-graph" style="width: 95%; height: auto; float:left; overflow-x: scroll;"></div>
  <div id="wearable-choice" style="width: 100%; height: auto;"></div>
</div>
<script>
//url = 'https://quantifiedflu.org/retrospective/event/1.json';
//url = 'https://quantifiedflu.org/retrospective/event/23.json';
//url = 'https://quantifiedflu.org/retrospective/event/65.json';
// url = '/static/testGraphicIncident.json';

url = '{% url 'retrospective:view_event_json' object.id %}';
  // $.getJSON('{% url 'retrospective:view_event_json' object.id %}', function(event_data) {
  /*
      {% for analysis in object.retrospectiveeventanalysis_set.all %}
      var data = mapQFDataForMG(event_data, '{{ analysis.graph_type }}');

      var marker_date = Date.parse('{{ analysis.event.date|date:"c" }}')
      var markers = [{
          'timestamp': marker_date,
          'label': 'Reported sick incident'
      }];

      {% if analysis.graph_type == 'oura_sleep_summary' %}
      MG.data_graphic({
        title: "Temperature evolution",
        description: "The body temperature difference as measured by Oura",
        data: data,
        chart_type: 'point',
        width: 600,
        height: 450,
        top: 50,
        left: 50,
        right: 60,
        full_width: true,
        target: ".retrospective_graph_{{ analysis.id }}",
        x_accessor: "timestamp",
        y_accessor: "temperature_delta",
        aggregate_rollover: true,
        x_label : 'date',
        y_label : 'body temperature',
        markers: markers,
        });
        MG.data_graphic({
          title: "Respiratory Rate",
          description: "The nightly average respiratory rate as measured by Oura",
          data: data,
          chart_type: 'point',
          width: 600,
          height: 450,
          top: 50,
          left: 50,
          right: 60,
          full_width: true,
          target: ".retrospective_graph_{{ analysis.id }}_rr",
          x_accessor: "timestamp",
          y_accessor: "respiratory_rate",
          aggregate_rollover: true,
          x_label : 'date',
          y_label : 'respiratory_rate',
          markers: markers,
          });
      {% else %}
      MG.data_graphic({
        title: "Heart rate evolution",
        {% if analysis.graph_type == 'apple_health_summary' %}
        description: "Resting heart rate evolution over time",
        {% else %}
        description: "Nightly heart rate evolution over time",
        {% endif %}
        data: data,
        chart_type: 'point',
        width: 600,
        height: 450,
        top: 50,
        right: 60,
        full_width: true,
        target: ".retrospective_graph_{{ analysis.id }}",
        x_accessor: "timestamp",
        y_accessor: "heart_rate",
        aggregate_rollover: true,
        x_label : 'date',
        y_label : 'heart rate',
        markers: markers,
        });
      {% endif %}

      {% endfor %}
  */
</script>

{% load static %}
<script src="{% static 'js/event.js' %}">
</script>

{% endblock main %}