{% extends 'base.html' %}

{% block main %}

<div class='retrospective_graph'></div>

<div class='retrospective_graph_temp'></div>

<script>
  d3.json('{% url 'retrospective:json_graph' analysis_id=analysis_id %}', function(data) {
    {% if analysis_type == 'Oura' %}
    data = MG.convert.date(data, 'timestamp', "%Y-%m-%d %H:%M:%S");
    {% elif analysis_type == 'Fitbit' %}
    data = MG.convert.date(data, 'timestamp', "%Y-%m-%d");
    {%endif%}

    var marker_date = data[0]['period'];
    var markers = [{
        'timestamp': new Date(marker_date),
        'label': 'Reported sick incident'
    }];
    MG.data_graphic({
      title: "Heart rate evolution",
      description: "Nightly heart rate evolution over time",
      data: data,
      chart_type: 'point',
      width: 600,
      height: 450,
      top: 50,
      right: 60,
      full_width: true,
      target: ".retrospective_graph",
      x_accessor: "timestamp",
      y_accessor: 'heart_rate',
      aggregate_rollover: true,
      x_label : 'date',
      y_label : 'heart rate',
      markers: markers,
      });
    {% if analysis_type == 'Oura' %}
      MG.data_graphic({
        title: "Temperature evolution",
        description: "The body temperature difference as measured by Oura",
        data: data,
        chart_type: 'point',
        width: 600,
        height: 450,
        top: 50,
        left: 50,
        right: 60,
        full_width: true,
        target: ".retrospective_graph_temp",
        x_accessor: "timestamp",
        y_accessor: 'temperature_delta',
        aggregate_rollover: true,
        x_label : 'date',
        y_label : 'body temperature',
        markers: markers,
        });
    {%endif%}
  });

  </script>

{% endblock main %}
