{% extends 'base.html' %}

{% block main %}

<h2>Public retrospective reports</h2>

<p>
  <b>Interested in analyzing this data yourself?</b> Each retrospective event report has data available via
  JSON endpoints. You can use this page's own JSON endpoint to automate data retrieval
  from these: <a href="{% url 'retrospective:public_json' %}">{% url 'retrospective:public_json' %}</a>
</p>
<p>
  <b>Please share your visualizations and discoveries with us!</b> People are excited to hear what you've
  done – we'd love to share what others have done. (One place to connect is the
  <a href="https://app.slack.com/client/T48QEEVTJ/CV5USP9BP">#quantifiedflu channel</a> in the Open Humans
  community Slack. You can use this site to create an account in the Slack: <a href="https://slackin.openhumans.org">slackin.openhumans.org</a>)
</p>

{% if published_member_reports %}
  <div class="alert alert-success">
    <b>Thank you for sharing your data!</b> Your data is part of this data set. Data sharing is optional;
    if you'd like to remove a published report, you can delete it.
  </div>
{% elif any_member_reports %}
  <div class="alert alert-secondary">
    <b>Your data is not in this data set.</b> Sharing is optional, you can choose to publish your
    data to share it with others.
  </div>
{% else %}
<p>
  A big thank-you to contributors that have shared their data
  with the project. 💖 Sharing data is optional; if you're a contributor,
  log in to manage your published reports.
</p>
{% endif %}

<hr>

<p>Click the links below to explore retrospective reports.</p>

<table class="table table-sm">
  <thead>
    <th>Date</th>
    <th>Member</th>
    <th>Certainty</th>
    <th>Data sources</th>
  </thead>
  {% for event in object_list %}
  <tr>
    <td>
      <a href="{% url 'retrospective:view_event' event.id %}">{{ event.date }}</a>
    </td>
    <td>
      {{ event.member.oh_id }}
    </td>
    <td>
      {{ event.get_certainty_display }}
    </td>
    <td>
      {% for analysis in event.retrospectiveeventanalysis_set.all %}
      {{ analysis.graph_type }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </td>
    </td>
  </li>
  {% endfor %}
</table>

{% endblock main %}