{% load static %}

<h2>Visualize past events</h2>

{% if openhumansmember.retrospectiveevent_set.all %}
{% if missing_sources|length == 3 %}
<div class="alert alert-danger" role="alert">
  <b>No connected data!</b> If you haven't added a data source, there's no data to graph.
  See buttons above to add a data source.
</div>
{% endif %}
<table class="table">
  <tbody>
  {% for event in openhumansmember.retrospectiveevent_set.all %}
  <tr>
    <th scope="row">{{event.date}}</th>
    <td>
      <a class="btn btn-info btn-sm py-0" href="{% url 'retrospective:view_event' event.id %}">View graphs</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<img class="img-fluid mb-3" src="{% static 'img/example_graph.png' %}">

<p>
  Add an event to get a visualization of how heart rate (and temperature)
  varied relative to getting sick.
</p>
{% endif %}

<p class="mt-4">
  <a class="btn btn-primary mt-md-1 mt-0" href="{% url 'retrospective:add-event' %}">Add a sickness event to analyze</a>
</p>