<h2>Visualize past events</h2>
<p>
  Past sickness events you will add will be visualized for varitions in your
  heart rate (and body temperature where available) like in this example graph.

  <b>Get started by adding your sickness events below!</b>
</p>


<p class="mt-4">
  <a class="btn btn-primary btn-sm mt-md-1 mt-0" href="{% url 'retrospective:add-event' %}">Add a sickness event to analyze</a>
  <a class="btn btn-info btn-sm mt-md-1 mt-0" href="{% url 'retrospective:view-events' %}">View graphs of your existing events</a>
</p>